### Creating database using SQLite

In [1]:
#package
import sqlite3

In [2]:
# Connecting to sqlite
# connecting the object
conn = sqlite3.connect('INSTRUCTOR.db')

In [3]:
# Cursor Object
# cursor is used to invoke methods that execute SQLite statements.
cursor_obj = conn.cursor()

## Creating a table in the Database

In [5]:
#before creating a table check if the table exist
cursor_obj.execute("DROP TABLE IF EXISTS INSTRUCTOR")

In [6]:
# next we create the tabe
table = """ create TABLE IF NOT EXISTS INSTRUCTOR(ID INTEGER PRIMARY KEY NOT NULL, firstname VARCHAR(20), lastname VARCHAR(20), CITY VARCHAR(20), country_code CHAR(2));"""

cursor_obj.execute(table)

print("Table is ready.")

Table is ready.

## Insert data in the table

In [7]:
data = '''insert into INSTRUCTOR values (1, 'Rav', 'Ahuja', 'TORONTO', 'CA')'''

cursor_obj.execute(data)

In [8]:
data = '''insert into INSTRUCTOR values (2, 'Raul', 'Chong', 'Markham', 'CA'), (3, 'Hima', 'Vasudevan', 'Chicago', 'US')'''

cursor_obj.execute(data)

## Query data in the table

In [10]:
# View all data
view_all = '''SELECT * FROM INSTRUCTOR'''
cursor_obj.execute(view_all)

print("All the data")
output_all = cursor_obj.fetchall()
for row_all in output_all:
    print(row_all)

All the data
(1, 'Rav', 'Ahuja', 'TORONTO', 'CA')
(2, 'Raul', 'Chong', 'Markham', 'CA')
(3, 'Hima', 'Vasudevan', 'Chicago', 'US')

In [11]:
# Fetch few rows from the table like LIMIT statement
view_all = '''SELECT * FROM INSTRUCTOR'''
cursor_obj.execute(view_all)

print("All the data")
output_many = cursor_obj.fetchmany(2)

for row_many in output_many:
    print(row_many)

All the data
(1, 'Rav', 'Ahuja', 'TORONTO', 'CA')
(2, 'Raul', 'Chong', 'Markham', 'CA')

In [12]:
# Fetching firstname only table
view_all = '''SELECT firstname FROM INSTRUCTOR'''
cursor_obj.execute(view_all)

print("All the data")
output_column = cursor_obj.fetchall()

for fetch in output_column:
    print(fetch)

All the data
('Rav',)
('Raul',)
('Hima',)

## Retrieve data into pandas

In [13]:
# import package
import pandas as pd
# retrieve the query results and put into the dataframe
df = pd.read_sql_query("SELECT * FROM INSTRUCTOR;", conn)

# printing the dataframe
df

   ID firstname   lastname     CITY country_code
0   1       Rav      Ahuja  TORONTO           CA
1   2      Raul      Chong  Markham           CA
2   3      Hima  Vasudevan  Chicago           US

In [14]:
# printing the lastname for the first row in the pandas data frame
df.lastname[0]

'Ahuja'

In [15]:
# testing the shape method
df.shape

(3, 5)

## Close the connection

In [16]:
# Always close the connection for avoiding unnecessary waste of resources
conn.close()